.wrapper {
    margin: 10% auto;
    background: rgb(0, 0, 0);
    width: 640px;
    display: flex;
    align-items: center;
    &__box {
        width: 300px;
        border: 1px solid black;
        margin-right: 5px;      
        height: 300px;
        background: tomato;
        &:hover {
            background: orange;
            transition: .2s all ease;
        }
        &:active {
            background: red;
        }
    }
}